.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.search:focus {
  transform: scale(1.05);
}
