.search {
  -webkit-appearance: none;
  border: none;
  border-radius: 0.2em;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 40px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.search:focus {
  transform: scale(1.05);
}

.search::placeholder {
  text-align: center;
}
